<%- view_title "Families" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12">
    <h1 class="page-header">Families</h1>
    <blockquote class="blockquote">
      <p>"Security and privacy controls described in this publication have a well-defined organization and structure. For ease of use in the security and privacy control selection and specification process, controls are organized into 20 families. Each family contains controls that are related to the specific topic of the family. A two-character identifier uniquely identifies each control family (e.g., PS for Personnel Security). Security and privacy controls may involve aspects of policy, oversight, supervision, manual processes, and automated mechanisms that are implemented by systems or actions by individuals."</p>
      <footer class="blockquote-footer"><cite title="Source Title">NIST SP 800-53, Rev 5</footer>
    </blockquote>
    <p>Each of the <%= @family_count %> families comes with a two letter code, which comprises the first part of a control number (i.e., the principal identifiers for controls). Here's a quick guide<span class="hidden-xs hidden-sm">, and some "at-a-glance" stats</span>:</p>
  </div>
</div>

<div class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-5">
  <% @families.each do |family, index| %>
  <div class="col mb-4">
    <div class="card h-100">
      <div class="card-body">
        <%= link_to(family_path(family.acronym.upcase), { class: 'stretched-link'}) do %><% end %>
        <p class="card-text text-right text-danger">
          <strong><%= family.controls.count %></strong>
        </p>
        <h2 class="card-title display-3 text-center">
          <abbr title="<%= family[:title] %>"><%= family[:acronym].upcase %></abbr>
        </h2>
        <p class="card-text text-center d-none d-md-block">
          <small class="text-muted"><em><%= family.title %></em></small>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
