<tr data-link="<%= control_path(control.number) %>">
  <td scope="row">
    <%= control[:number] %>
  </td>
  <td><%= control[:title] %></td>
  <td class="text-center"><%= control[:priority] %></td>
  <% if @row_type == 'Normal' %>
  <td class="text-center">
    <% if control.is_baseline_impact_low %>
    <i class='fa fa-check-circle'></i>
    <% else %>
    <i class="fa fa-times-circle"
    <% end %>
  </td>
  <td class="text-center">
    <% if control.is_baseline_impact_moderate %>
    <i class='fa fa-check-circle'></i>
    <% else %>
    <i class="fa fa-times-circle"
    <% end %>
  </td>
  <td class="text-center">
    <% if control.is_baseline_impact_high %>
    <i class='fa fa-check-circle'></i>
    <% else %>
    <i class="fa fa-times-circle"
    <% end %>
  </td>
  <% else %>
  <td colspan='3' class='text-center'><%= @row_type %></td>
  <% end %>
</tr>
