<% unless relateds.empty? %>
<ul>
<% relateds.each do |r| %>
  <% unless r.status == 'withdrawn' %>
  <li>
    <%= link_to control_path(r.label) do %>
    <%= r.label %>
    <em><%= r.title %></em>
    <% end %>
    <%= baseline_badges(r) %>
  </li>
  <% else %>
  <li class="text-muted">
    <%= r.label %>
    <em><%= r.title %></em>
  </li>
  <% end %>
<% end %>
</ul>
<% end %>