<%- view_title "Controls | #{@control.number.upcase} - #{@control.title}" %>

<% content_for :main do %>

  <h1 class="page-header">
    <%= @control.sort_number.upcase %>
    <small>
      <%= @control.title %>
    </small>
  </h1>

  <% unless @control.parts.where(label: 'statement', parent_id: nil).empty? %>
  <div class="control-body bg-light">
    <%= statement(@control.parts.where(label: 'statement', parent_id: nil), 0) %>
  </div>

  <% unless @control.parameters.empty? %>
  <%= parameter_table(@control.parameters) %>
  <% end %>
  <% end %>

  <% unless @control.parts.where(label: 'guidance', parent_id: nil).empty? %>
  <h2>Guidance</h2>
  <% @control.parts.where(label: 'guidance', parent_id: nil).each do |g| %>
  <% unless g.prose.nil? %>
  <% g.prose.split("\n").each do |paragraph| %>
  <% end %>
  <p><%= paragraph %></p>
  <% end %>
  <% end %>
  <% end %>

  <% unless @control.links.where(link_type: 'reference').empty? %>
  <h2>References <span class="badge badge-info"><%= @control.links.where(link_type: 'reference').count %></span></h2>
  <%= references(@control.links.where(link_type: 'reference')) %>
  <% end %>

  <% unless @control.links.where(link_type: 'related').empty? %>
  <h2>Related controls <span class="badge badge-info"><%= @control.links.where(link_type: 'related').count %></span></h2>
  <%= relateds(@control.links.where(link_type: 'related')) %>
  <% end %>

  <hr/>

  <% @control.children.each do |child| %>
  <% unless child.status == 'Withdrawn' %>
  <h1>
    <%= child.sort_number.upcase %>
    <small>
      <%= child.title %>
    </small>
  </h1>

  <% unless child.parts.where(label: 'statement').empty? %>
  <div class="control-body bg-light">
    <%= statement(child.parts.where(label: 'statement'), 0) %>
  </div>
  <% end %>
  
  <% unless child.parameters.empty? %>
  <%= parameter_table(child.parameters) %>
  <% end %>

  <% unless child.parts.where(label: 'guidance').empty? %>
  <h2>Guidance</h2>
  <% child.parts.where(label: 'guidance').each do |g| %>
  <% unless g.prose.nil? %>
  <p><%= g.prose %></p>
  <% end %>
  <% end %>
  <% end %>

  <% unless child.links.where(link_type: 'reference').empty? %>
  <h2>References <span class="badge badge-info"><%= child.links.where(link_type: 'reference').count %></span></h2>
  <%= references(child.links.where(link_type: 'reference')) %>
  <% end %>

  <% unless child.links.where(link_type: 'related').empty? %>
  <h2>Related controls <span class="badge badge-info"><%= child.links.where(link_type: 'related').count %></span></h2>
  <%= relateds(child.links.where(link_type: 'related')) %>
  <% end %>
  <% else %>
  <h1 class="text-muted">
    <%= child.sort_number.upcase %>
    <small>
      <%= child.title %>
    </small>
  </h1>

  <% unless child.links.empty? %>
  <div class="control-body bg-light">
    <%= withdrawn_content(child.links) %>
  </div>
  <% end %>
  <% end %>
  <hr/>
  <% end %>
<% end %>
