<%- view_title "Controls | #{@control.label} - #{@control.title}" %>

<% content_for :main do %>

  <h1 class="page-header">
    <%= @control.label %>
    <small>
      <%= @control.title %>
    </small>
  </h1>

  <% unless @control.parts.where(label: 'statement', parent_id: nil).empty? %>
  <div class="control-body bg-light">
    <%= statement(@control.parts.where(label: 'statement', parent_id: nil), 0) %>
  </div>

  <% unless @control.parameters.empty? %>
  <%= parameter_table(@control.parameters) %>
  <% end %>
  <% end %>

  <h2>Baselines</h2>
  <%= baseline_pills(@control) %>

  <% unless @control.parts.where(label: 'guidance', parent_id: nil).empty? %>
  <h2>Guidance</h2>
  <% @control.parts.where(label: 'guidance', parent_id: nil).each do |g| %>
  <% unless g.prose.nil? %>
  <% g.prose.split("\n").each do |paragraph| %>
  <p><%= render_hyperlinks(paragraph) %></p>
  <% end %>
  <% end %>
  <% end %>
  <% end %>

  <% unless @control.links.where(link_type: 'reference').empty? %>
  <h2>References <span class="badge badge-info"><%= @control.links.where(link_type: 'reference').count %></span></h2>
  <%= references(@control.links.where(link_type: 'reference')) %>
  <% end %>

  <% unless @control.children.empty? %>
  <h2>Control Enhancements <span class="badge badge-info"><%= @control.children.count %></span></h2>
  <%= enhancements(@control.children.order("sort_number ASC")) %>
  <% end %>

  <% unless @control.links.where(link_type: 'related').empty? %>
  <h2>Related controls <span class="badge badge-info"><%= @control.links.where(link_type: 'related').count %></span></h2>
  <%= relateds(@control.links.where(link_type: 'related')) %>
  <% end %>
  
  <hr/>
<% end %>
