<%- view_title "Controls | #{@control.number} - #{@control.title}" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header">
      <%= @control.number %>
      <small>
        <%= @control.title %>
        <% if @control.priority.to_s != '' %>
        <span class="label label-info"><%= @control.priority %></span>
        <% end %>
      </small>
    </h1>
    <p class="lead"></p>
    <h2>Description</h2>
    <% @statements.each do |statement| %>
      <%= control_statement(statement) %>
    <% end %>
    <h3>Supplemental guidance</h3>
    <p><%= @supplement.description %></p>
    <h4>Related controls</h4>
    <ul class="list-inline">
      <% @related_controls.each do |related| %>
      <li><%= link_to(related, control_path(related)) %></li>
      <% end %>
    </ul>
    <h2>Enhancements</h2>
    <% @enhancements.each do |enhancement| %>
    <h3><%= enhancement.number %>
      <small>
        <%= enhancement.title %>
        <%= baseline_labels(enhancement) %>
      </small>
    </h3>
    <% end %>
    <h3>Supplemental guidance</h3>
    <h2>Baseline</h2>
    <div class="row">
      <%= baseline_panels(@control) %>
    </div>
    <h2>References</h2>
    <ul>
      <% @references.each do |reference| %>
      <li>
        <%= link_to(reference.link, { target: "_blank" }) do %>
          <%= reference.reference %> <span class="glyphicon glyphicon-new-window"></span>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>
