<%- view_title "Controls | #{@control.number} - #{@control.title}" %>

<% content_for :main do %>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1 class="page-header">
      <%= @control.number %>
      <small>
        <%= @control.title %>
      </small>
      <% if @control.priority.to_s != '' %>
        <span class="badge badge-pill badge-info"><%= @control.priority %></span>
      <% end %>
    </h1>
    <p class="lead"></p>

    <h2>Description</h2>
    <% @statements.each do |statement| %>
      <%= control_statement(statement) %>
    <% end %>

    <% if !@supplement.nil? %>
      <h2>Supplemental guidance</h2>
      <%= control_supplement(@supplement) %>

      <% if !@supplement.related.empty? %>
        <h3>Related controls</h3>
        <%= related_controls(@supplement) %>
      <% end %>
    <% end %>

    <h2>Baseline</h2>
    <%= baseline_panels(@control) %>

    <% if !@enhancements.empty? %>
      <h2>Enhancements</h2>
      <% @enhancements.each do |enhancement| %>
        <h3><%= enhancement.number %>
          <small>
            <%= enhancement.title %>
            <%= baseline_labels(enhancement) %>
          </small>
        </h3>

        <h4>Description</h4>
        <% @enhancement_statements[enhancement.number].each do |enhancement_statement| %>
          <%= enhancement_statement(enhancement_statement) %>
        <% end %>

        <% if !@enhancement_supplements[enhancement.number].nil? %>
          <% if !@enhancement_supplements[enhancement.number].description.nil? %>
            <h4>Supplemental guidance</h4>
            <%= control_supplement(@enhancement_supplements[enhancement.number]) %>
          <% end %>

          <% if !@enhancement_supplements[enhancement.number].related.empty? %>
            <h5>Related controls</h5>
            <%= related_controls(@enhancement_supplements[enhancement.number]) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if !@references.empty? %>
      <h2>References</h2>
      <%= references(@references) %>
    <% end %>
  </div>
</div>
<% end %>
