<% if row_class(control) == 'incorporated-into' %>
<tr class="<%= row_class(control) %>">
  <td scope="row">
    <%= control[:sort_number].upcase %>
  </td>
  <td><%= control[:title] %></td>
  <td colspan="3">
    Incorporated into
    <%= control.links.where(link_type: 'incorporated-into').pluck(:link_text).to_sentence %>.
  </td>
</tr>
<% elsif row_class(control) == 'moved-to' %>
<tr class="<%= row_class(control) %>">
  <td scope="row">
    <%= control[:sort_number].upcase %>
  </td>
  <td><%= control[:title] %></td>
  <td colspan="3">
    Moved to
    <%= control.links.where(link_type: 'moved-to').pluck(:link_text).to_sentence %>.
  </td>
</tr>
<% else %>
<tr data-link="<%= control_path(control.sort_number) %>" class="<%= row_class(control) %>">
  <td scope="row">
    <%= link_to control_path(control.sort_number) do %>
    <%= control.sort_number.upcase %>
    <% end %>
  </td>
  <td><%= control[:title] %></td>
  <td><%= control.parameters.count %></td>
  <td><%= control.links.where(link_type: 'reference').count %></td>
  <td><%= control.links.where(link_type: 'related').count %></td>
</tr>
<% end %>