<head>
  <meta charset="utf-8">
  <meta name="author" content="Karim Said">
  <meta name="description" content="control_freak">

  <title><%= "#{Rails.application.config.app_name}" %><%= content_for?(:title) ?  " | #{content_for(:title)}" : "" %></title>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Righteous&display=swap">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" />

  <!-- Font Awesome CDN -->
  <script src="https://kit.fontawesome.com/ee8eeacd5b.js" crossorigin="anonymous"></script>

  <!-- Rails Asset Pipeline -->
  <%= stylesheet_link_tag "application", media: "all" %>
  <% stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <% javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
