<head>
  <title><%= "#{Rails.application.config.app_name}" %><%= content_for?(:title) ?  " | #{content_for(:title)}" : "" %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
  <link  rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cutive+Mono" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
