<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <%= link_to(root_path(), { class: "navbar-brand", title: "control_freak for NIST SP 800-53 Revision 5!" }) do %>
      <%= "#{Rails.application.config.app_name}" %>
      <i class="fas fa-gamepad text-info"></i>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto text-right">
          <li class="nav-item <%= is_active('families') %>">
            <%= link_to("Families", families_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active('controls') %>">
            <%= link_to("Controls", controls_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active('resources') %>">
            <%= link_to("Back Matter Resources", resources_path(), { class: "nav-link" }) %>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item <%= is_active('about') %>">
            <%= link_to(about_path(), { class: "nav-link" }) do %>
            <i class="fas fa-info-circle"></i> Metadata
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>