<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-light" style="background-color: #ffffff;">
    <div class="container">
      <%= link_to(root_path(), { class: "navbar-brand", title: "control_freak for NIST SP 800-53 Revision 5!" }) do %>
      <%= "#{Rails.application.config.app_name}" %>
      <i class="fas fa-gamepad text-tiffany"></i>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight"
        aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="offcanvas offcanvas-end" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel" aria-modal="true" role="dialog">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLightLabel">Navigation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item <%= is_active('families') %>">
            <%= link_to("Families", families_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active('controls') %>">
            <%= link_to("Controls", controls_path(), { class: "nav-link" }) %>
          </li>
          <li class="nav-item <%= is_active('resources') %>">
            <%= link_to("Back Matter Resources", resources_path(), { class: "nav-link" }) %>
          </li>
          <div class="dropdown-divider"></div>
          <li class="nav-item <%= is_active('about') %>">
            <%= link_to(about_path(), { class: "nav-link" }) do %>
            <i class="fas fa-info-circle"></i> Metadata
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>