<% if @hits["title_hits"].length == 0 && @hits["description_hits"].length == 0 && (@search.to_s != '') %>
<h2 class="text-center">Y u no search for more reasonable search terms?!</h2>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
<%= image_tag("y-u-no.png", alt: "Y u no search for more reasonable criteria?!", class: "img-responsive") %>
</div>
<% else %>
<ul class="list-unstyled">
  <% @hits["title_hits"].each do |hit| %>
    <%= link_to(control_path(hit.number)) do %>
      <li><h2><%= hit.number %> <small><%= hit.title %></small></h2></li>
    <% end %>
  <% end %>
</ul>
<ul class="list-unstyled">
  <% @hits["description_hits"].each do |hit| %>
    <li>
      <%= link_to(control_path(hit.number)) do %>
      <h2><small><%= hit.number %></small></h2>
      <% end %>
      <blockquote>
        <p><em><%= hit.description %></em></p>
      </blockquote>
    </li>
  <% end %>
</ul>
<% end %>
