<% if @hits['title_hits'].length == 0 && @hits['prose_hits'].length == 0 && (@search.to_s != '') %>
<h2 class='text-center'>No matches found.</h2>
<% else %>
<ul class='list-unstyled'>
  <% @hits['title_hits'].each do |hit| %>
    <% unless hit.sort_number == 'Withdrawn' %>
    <%= link_to(control_path(hit.sort_number)) do %>
      <li><h2><%= hit.sort_number %> <small><%= hit.title %></small></h2></li>
    <% end %>
    <% end %>
  <% end %>
</ul>
<ul class='list-unstyled'>
  <% @hits['prose_hits'].each do |hit| %>
    <li>
      <%= link_to(control_path(hit.ctrl.sort_number)) do %>
      <h2><small><%= "#{hit.ctrl.sort_number} #{hit.label.upcase}" %></small></h2>
      <% end %>
      <blockquote>
        <p><em><%= hit.prose %></em></p>
      </blockquote>
    </li>
  <% end %>
</ul>
<% end %>
