<% if @hits['title_hits'].length == 0 && @hits['description_hits'].length == 0 && (@search.to_s != '') %>
<h2 class='text-center'>No matches found.</h2>
<% else %>
<ul class='list-unstyled'>
  <% @hits['title_hits'].each do |hit| %>
    <%= link_to(control_path(hit.number)) do %>
      <li><h2><%= hit.number %> <small><%= hit.title %></small></h2></li>
    <% end %>
  <% end %>
</ul>
<ul class='list-unstyled'>
  <% @hits['description_hits'].each do |hit| %>
    <li>
      <%= link_to(control_path(hit.control.number)) do %>
      <h2><small><%= hit.number %></small></h2>
      <% end %>
      <blockquote>
        <p><em><%= hit.description %></em></p>
      </blockquote>
    </li>
  <% end %>
</ul>
<% end %>
