<%- view_title "About" %>

<% content_for :main do %>
<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">About <%= "#{Rails.application.config.app_name}" %></h1>
    <p class="lead">A bit about what I'm doing here.</p>
    <p class="lead">This app is populated with information from <a href="http://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-53r4.pdf">NIST SP 800-53 Revision 4, <em>Security and Privacy Controls for Federal Information Systems and Organizations</em></a>.</p>
    <p>However, the plan is to keep it updated with the latest information once I automate the process.</p>
    <p>I like the idea of control_freak, but if you would rather get right at the raw data it sits over top of, you can check out my <a href="https://github.com/egyptiankarim/NIST-SP-800-53-Toolkit">NIST-SP-800-53-Toolkit</a> repo, or just go directly to <a href="http://csrc.nist.gov/publications/PubsSPs.html" title="NIST Computer Security Publications - NIST Special Publications (SPs)">NIST</a> and play with the stuff they have.</p>
  </div>
  <div class="col-md-3">
    <h2>Amet</h2><%= render "shared/short_lorem" %>
  </div>
  <div class="col-md-3">
    <h2>Elit</h2><%= render "shared/short_lorem" %>
  </div>
  <div class="col-md-3">
    <h2>Euismod</h2><%= render "shared/short_lorem" %>
  </div>
  <div class="col-md-3">
    <h2>Nonummy</h2><%= render "shared/short_lorem" %>
  </div>
</div>
<% end %>
