<!DOCTYPE html>
<html>
  <%= render partial: "shared/head" %>
  
  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      <%= render partial: "shared/nav" %>
  
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <%= yield :jumbotron %>
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <%= yield :main %>
      </div>
    </div>
    <!-- Close up the page wrapping. -->
    
    <%= render partial: "shared/foot" %>

  </body>
</html>
